
{{>header}}
<link href="/stylesheets/bimbel.css" rel="stylesheet">

<br>
<section id="portfolio">
<div class="container">
  <div class="row">  

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
            <h3>Judul Berita</h3>
          <div class="info-meta">
                        <ul class="list-inline">
                            <li><i class="fa fa-clock-o"></i> Nov 06, 2017 </li>
                            <li><i class="fa fa-eye"></i>1</li>
                            <li><i class="fa fa-user"></i> Posting by mimin tampan</li>
                            <li class="pull-right">Category : pemberitahuan</li>
                        </ul>
                </div>
            <hr>
                <div class = "media">
                       <a class = "pull-left" href = "#">
                          <img class = "media-object" src = "images/profile.jpg" width="300px" height="200px">
                       </a>
                       
                       <div class = "media-body">
                          <p>kalimat 1
                          </p> 
                          <p>kalimat 2
                         </p>  
                        <p style="text-align:right;">
                            <button class="btn btn-primary">Read More</button>
                        </p>
                       </div> 
                </div>
            <hr>
                <h3> Judul Berita 2 </h3>
                  <div class="info-meta">
                          <ul class="list-inline">
                              <li><i class="fa fa-clock-o"></i> Nov 06, 2017 </li>
                              <li><i class="fa fa-eye"></i>1</li>
                              <li><i class="fa fa-user"></i> Posting by mimin tampan</li>
                              <li class="pull-right">Category : pemberitahuan</li>
                          </ul>
                  </div>
            <hr>
               <div class = "media">
                       <a class = "pull-left" href = "#">
                          <img class = "media-object" src = "images/profile.jpg" width="300px" height="200px">
                       </a>
                       
                       <div class = "media-body">
                          <p>kalimat 1
                          </p> 
                          <p>kalimat 2
                         </p>  
                        <p style="text-align:right;">
                            <button class="btn btn-primary">Read More</button>
                        </p>
                       </div> 
                </div>
      </div>

        </div>
      </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-center"> kutipan berita </h4>
        </div>
        <div class="panel-body">
          <div class="cardnews">
            <a href="#" target="berita">
              <img src="/images/profile.jpg" class="img-fluid">
            </a>
            <div class="info-meta text-center">
                          <ul class="list-inline">
                              <li><i class="fa fa-clock-o"></i> Nov 06, 2017 </li>
                              <li><i class="fa fa-eye"></i>1</li>
                          </ul>
            </div>
              <h4>
              <a href="berita">penambahan  mic untuk gedung baru</a>
              </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</body>

</section>

{{>footer}}

