{{>header}}
<br>
<body>
<section ="fortofolio">
	<h3 align="center"> Update Profile</h3>
 	<hr class="star-primary">
 	</hr>
 		<form>
		<div class="container form-group ">
			<div class="form-group row">
	  			<label for="example-text-input" class="col-2 col-form-label">Nama</label>
	  		<div class="col-10">
	    		<input class="form-control" type="text" placeholder="Rizky haryadi" id="example-text-input">
	  		</div>
			</div>
			<div class="form-group row">
	  			<label for="example-email-input" class="col-2 col-form-label">Email</label>
	 		<div class="col-10">
	    		<input class="form-control" type="email" placeholder="abc@gmail.com" id="example-email-input">
	  		</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label">Phone </label>
			<div class="col-10">
				<input type="tel" name="usrtel" class="form-control" placeholder="081-21xxxx">
			</div>
			</div>
			<div class="form-group row">
	  			<label for="example-date-input" class="col-2 col-form-label">Tanggal Lahir</label>
	 		<div class="col-10">
	    		<input class="form-control" type="date" placeholder="" id="example-date-input">
	  		</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label">Alamat </label>
			<div class="col-10">
				<textarea class="form-control" rows="4" id="alamat"></textarea>
			</div>
			</div>
			<button class="btn btn-primary" type="button">Submit</button>
 		</form>
		</div>
</section>
</body>
{{>footer}}